{deps, []}.

{shell, [{apps, [cucumis]}]}.

{project_plugins, [
    rebar3_ex_doc,
    erlfmt,
    rebar3_lint
]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "rebar.config{,.script}",
        "config/*.config{,.script}",
        "{src,include,test}/*.{hrl,erl,app.src}"
    ]}
]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, all_deps},
    {plt_extra_apps, [eunit]},
    incremental
]}.

{profiles, [
    {test, [
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        % Use unite for pretty-printing
        {deps, [unite]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
    ]}
]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/eproxus/cucumis">>},
    {extras, [
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE.md', #{title => <<"License">>}}
    ]},
    {main, <<"readme">>}
]}.
